*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 2px solid red;

}

.jumboImages{
    max-width: 100vw;
    text-align: center;
}
.jumboImgJu{
    position: relative;

    left: -45%;
    opacity: 0;
}
.jumboImgBi{
    position: absolute;
    left: 50%;
    opacity: 0;

}

.junieta{
    background-color: hotpink;
    color: white;
}

.cardA{
    display: none;
    opacity: 0;

}

.cardB{
    display: none;
    opacity: 0;
}
.closeA, .closeB{
    width: 6rem;
    color: white;
    background-color: red;
}

.activeJunieta{
    opacity: 1;
    transform: translateX(25%);
    transition: 1.7s ease-in;

}
.activeBilly{
    opacity: 1;
    max-width: 20%;
    transform: translateX(25%);
    transition: 1.7s ease-in;

}

.profileStyle{
    display: inline;
    opacity: 1;
    transition: 0.7s ease-in;
}
@media only screen  and (min-width : 940px) {
    .jumboImages{
        margin-left: 20%;
        overflow-x: hidden;
        text-align: center;
    }


}
